@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.header_wrapper {
 	background-image: linear-gradient(0deg, rgba( 252, 227,138,0.9), rgba( 243, 129,129,0.9)), url(images/header_logo.jpg);
 	width: 100%;
 	background-size: cover;
 }
.header {
 	margin:0px 18.75% 0px  18.75%;
 }
.header_nav {
	width: 100%;
	height: 65px;
	color: #fff;
	font-family: "Montserrat";
}
.logo {
	display: inline-block;
	font-size: 30px;
	font-weight: 700;
	margin-top: 25px;
}
.logo:hover a {
	color: #fce38a;
}
.logo a {
	text-decoration: none;
	color: #fff;
}
.main_nav {
	display: inline-block;
	float: right;
	margin-top: 36px;
}
.nav {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
}
.nav_item {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height:10px;
	padding-bottom: 7px;
	margin-left: 55px;
}
.nav_item:nth-child(1) {
	margin-left: 0px;
}
.nav_item:hover {
	color: #fce38a;
	border-bottom: 3px solid #fce38a;
}
.other {
	float: right;
	display: inline-block;
	vertical-align: bottom;
}
.shop_cart svg, .glass svg{
 	width: 18px;
 	height: 29px;
 	vertical-align: bottom;
	display: inline-block;
	padding-bottom: 7px;
	margin-left: 42px;
 }
.shop_cart svg>path,.glass svg>path {
	fill: rgb(255, 255, 255);
	vertical-align: bottom;
	display: inline-block;
}
.shop_cart svg:hover, .glass svg:hover {
	border-bottom: 3px solid #fce38a;
}
.shop_cart svg:hover>path,.glass svg:hover>path{
	fill: #fce38a;
}
.home {
	padding-top: 140px;
	font-size: 0;
}
.home_info {
	color: #fff;
	padding-bottom: 55px;
}
.home_info > p:nth-child(1) {
	font-family:"Kaushan Script" ;
	font-size: 72px;
	text-align: center;
	padding-bottom: 10px;
}
.home_info > p:nth-child(2) {
	font-family:"Montserrat" ;
	font-size: 150px;
	text-align: center;
	font-weight: 700;
	line-height: 140px;
	text-transform: uppercase;
}
.line{
		width: 60px;
		height: 3px;
		background-color: #fff;
		margin-right: auto;
		margin-left: auto;
	}
.button_bordered {
	width: 160px;
	height: 40px;
	border: 3px solid #fff;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	cursor: pointer;
	margin-top: 50px;
}
.button_bordered p {
	font-size: 14px;
	font-family: "Montserrat";
	font-weight: 700;
	color: #fff;
	line-height: 40px;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.button_bordered p a {
	text-decoration: none;
	color: #fff;
	height: 100%;
	width: 100%;
	display: inline-block;
	transition: color .8s ease-in-out;
}
.border1, .border3 {
	height: 3px;
	background-color: #f38181;
	position: absolute;
	z-index: 12;
	width: 0;
}
.border2, .border4 {
	width: 3px;
	background-color:#f38181;
	position: absolute;
	z-index: 12;
	height: 0;
}
.border1 {
  top: -3px;
  left: -3px;
  transition: width .2s ease-in-out .6s;
}
.border3 {
  bottom: -3px;
  right: -3px;
  transition: width .2s ease-in-out .2s;
}
.border2 {
  right: -3px;
  top: -3px;
  transition: height .2s ease-in-out .4s;
}
.border4 {
  left: -3px;
  bottom: -3px;
  transition: height .2s ease-in-out;
}
.button_bordered:hover .border1, .button_bordered:hover .border3 {
  width: 160px;
}
.button_bordered:hover .border2, .button_bordered:hover .border4 {
	height: 40px;
}
.button_bordered:hover .border1 {
  transition: width .2s ease-in-out;
}
.button_bordered:hover .border2 {
  transition: height .2s ease-in-out .2s;
}
.button_bordered:hover .border3 {
	transition: width .2s ease-in-out .4s;
}
.button_bordered:hover .border4 {
  transition: height .2s ease-in-out .6s;
}
.button_bordered:hover .more a {
	color: #f38181;
}
.slide {
	padding-top: 150px;
}
.about{
	background-color: #fff;
	 	margin:0px 18.75% 0px  18.75%;
	 	font-size: 0;
}
.about_title {
	text-align: center;
	color: #333333;
	font-size: 0;
	margin-top: 85px;
}
.about_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 10px;
}
.about_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
}
.about_title>p:nth-child(4) {
	font-family: "Roboto";
	font-size: 15px;
	line-height: 24px;
	color: #999999;
}
.about_title_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.about_info {
	width: 100%;
	font-size: 0;
	padding:0;
	margin: 0;
	height: 100%;
	position: relative;
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 110px;
}
.about_pic{
	float: left;
	width: calc(33.33% - 20px);
	height: 100%;
	position: relative;
	margin-right: 30px;
	background-color: #95e1d3;
}
.about_pic_item {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	transition: top .4s ease-in-out, left .4s ease-in-out;
}
.about_pic:nth-child(3) {
	margin-right: 0;
}
.about_pic_gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .4s ease-in-out, top .4s ease-in-out, left .4s ease-in-out;
	background-image: linear-gradient(0deg, rgba( 252, 227,138,0.9), rgba( 243, 129,129,0.9));
} 
.about_pic:hover .about_pic_item{
	top:-10px;
	left: -10px;
}
.about_pic:hover .about_pic_gradient{
	display: block;
	top:-10px;
	left: -10px;
	opacity: 1;
}
.about_pic_gradient_description {
	height: 100%;
	width: 100%;
	position: relative;
}
.about_pic_gradient_description svg{
	width: 32px;
	height: 23px;
	display: block;
	position: relative;
	margin:0;
	left: 50%;
	transform: translateX(-50%);
}
.about_pic_gradient_description p {
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Montserrat";
	color: #fff;
	position: relative;
	margin:0;
	text-align: center;
}
.about_pic_gradient_description_info {
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
}
.counter_wrapper {
	background-color: #95e1d3;
}
.counter {
	margin:0px 18.75% 0px  18.75%;
	font-size: 0;
}
.counter_item {
	width: 20%;
	display: inline-block;
	border-right: 1px solid #b5eae0;
}
.counter_item>p {
	font-size: 14px;
	color: #fff;
	font-family: "Montserrat";
	text-transform: uppercase;
	text-align: center;
}
.counter_item>p:nth-child(1) {
	font-size: 72px;
	font-weight: 700;
	line-height: 52px;
	margin-top: 90px;
	margin-bottom: 30px;
}
.counter_item>p:nth-child(2) {
	line-height: 14px;
	margin-bottom: 90px;
}
.counter_item:nth-child(5) {
	border-right: none;
}
.services {
	margin:0px 18.75% 0px  18.75%;
}
.services_title {
	text-align: center;
	margin-top: 110px;
}
.services_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.services_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.services_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 15px;
}
.services_info {
	font-size: 0;
	margin-bottom: 80px;
}
.services_item {
	width: 33.33%;
	display: inline-block;
	position: relative;
	margin-top: 50px;
	padding-bottom: 50px;
	height: 100%;
}
.services_item_img {
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
	position: relative;
	width: 32px;
	height: 100%;
	float: left;
}
.services_info_text {
	display:block;	
	position: relative;
	margin-right: 25px;
	margin-left: 90px;
}
.services_info_text p:nth-child(1) {
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 1.2;
	color: rgb(51, 51, 51);
	margin-bottom: 15px;
	text-transform: uppercase;
}
.services_info_text p:nth-child(2) {
	color: #999999;
	font-size: 15px;
	line-height: 24px;
	font-family: "Roboto";
}
.services_item:nth-child(1), .services_item:nth-child(2),.services_item:nth-child(3) {
	border-bottom: 1px solid #e5e5e5;
}
.feature_wrapper {
	width: 100%;
	background-image: linear-gradient(0deg, rgba( 252, 252,252,0.85), rgba( 252, 252,252,0.85)), url(images/feature.jpg);
	background-size: cover;
}
.feature {
	margin:0px 18.75% 0px  18.75%;
	font-size: 0;
}
.feature_title {
	text-align: center;
	padding-top: 110px;
}
.feature_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.feature_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.feature_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 15px;
}
.feature_images {
	position: relative;
}
.feature_big {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	font-size:0;
	display: inline-block;	
	left:50%;
	transform: translateX(-50%);
}
.feature_big img {
	width: 100%;
}
.feature_small {
	position: absolute;
	right: -100px;
	bottom: -88px;
}
.feature_small img {
	width: 100%;
}
.service {
	font-size: 0;
	margin:0px 18.75% 0px  18.75%;
}
.service_title {
	text-align: center;
	padding-top: 110px;
	padding-bottom: 90px;
}
.service_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.service_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.service_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.service_title>p:nth-child(4) {
	font-family: "Roboto";
	font-size: 15px;
	line-height: 24px;
	color: #999999;
}
.service_info_left, .service_info_right {
	width: 50%;
	font-size: 0;
	position: relative;
	float: left;
}
.service_info_left {
	padding-right: 30px;
	position: relative;
}
.service_info_left img {
	width: 100%;
	position: relative;
}
.service_info_right {
	font-size: 12px;
	position:relative;
	height: 100%;
	display: block;
}
.service_info {
	display: inline-block;
	width:100%;
	height: 100%;
	margin-bottom: 120px;
}
.accordion-item {
	overflow: hidden;
	margin-bottom: 10px;
	height: 100%;
}
.accordion {
	height: 100%;
	position: relative;
}
.accordion-item__content {
	display: none;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	overflow: hidden;
	font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  height: 180px;
  padding: 20px;
}
.accordion-item__header {
	width: 100%;
	border:1px solid #e5e5e5;
	padding: 15px;
	position: relative;
	height: 60px;
	font-size: 14px;
	font-family: "Montserrat";
	text-transform: uppercase;
	line-height: 30px;
	color: rgb(51, 51, 51);
	cursor: pointer;
}
.accordion-item__header::after {
	content: '';
	position: absolute;
	display: block;
	width: 12px;
	height: 12px;
	border-top: 4px solid #d0d0d0;
	border-right: 4px solid #d0d0d0;
	transform-origin: 50% 7px;
	transform: rotate(-45deg);
	transition: transform .2s ease-in;
	top: 20px;
	right: 20px;
	}
.accordion-item.active .accordion-item__header::after {
	transform: rotate(135deg);
}
.accordion-item__header img {
	float: left;
	height: 100%;
	position: relative;
	margin-right: 15px;
}
.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar {
	background-color: #95e1d3;
	width: 5px;
}
.mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
 background-color: rgb(245, 245, 245);
width: 5px;
}
.Rectangle_11 {
  background-color: rgb(245, 245, 245);
  position: absolute;
  left: 1530px;
  top: 4000px;
  width: 5px;
  height: 140px;
  z-index: 154;
}
.mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #95e1d3;
}
.quote_wrapper {
	background-color: #f8f8f8;
}
.caorusel_wrapper {
	margin:0px 18.75% 0px  18.75%;
	height: 100%;
	position: relative;
}
.caorulel {
	width: 100%;
}
.caorusel_info>p:nth-child(1) {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	font-size: 24px;
	line-height: 1.5;
	color: rgb(153, 153, 153);
}
.caorusel_line span:nth-child(1) {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	display: inline-block;
	position: relative;
	top:-5px;
}
.caorusel_line > span:nth-child(2) {
	font-size: 24px;
	font-family: "Kaushan Script";
}
.caorusel_item_img{
	float: left;
	border:3px solid #95e1d3;
	margin-right: 60px;
}
.caorusel_item_img img {
	padding:41px;
}
.caorusel_item {
	margin: 70px 2%;
}
.next, .prev {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	border-top: 4px solid #d0d0d0;
	border-right: 4px solid #d0d0d0;
	cursor: pointer;
}
.next {
	transform: rotate(45deg);
	right: 0;
	margin-right: 25px;
	top:50%;

}
.prev {
	transform: rotate(-135deg);
	left: 0;
	top:50%;
	margin-left: 25px;
	transform: translate(-50% 0);
}
.team {
	font-size: 0;
	margin:0px 18.75% 0px  18.75%;
}
.team_title {
	text-align: center;
	padding-top: 110px;
	padding-bottom: 90px;
}
.team_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.team_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.team_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.team_title>p:nth-child(4) {
	font-family: "Roboto";
	font-size: 15px;
	line-height: 24px;
	color: #999999;
}
.team_info {
	width: 100%;
	font-size: 0;
	padding:0;
	margin: 0;
	height: 100%;
	position: relative;
	display: inline-block;
}
.team_pic{
	float: left;
	width: calc(33.33% - 20px);
	height: 100%;
	position: relative;
	margin-right: 30px;
	background-color: #95e1d3;
}
.team_pic_item {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	transition: top .4s ease-in-out, left .4s ease-in-out;
}
.team_pic:nth-child(3) {
	margin-right: 0;
}
.team_pic_gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity .4s ease-in-out, top .4s ease-in-out, left .4s ease-in-out;
	background-image: linear-gradient(0deg, rgba( 252, 227,138,0.9), rgba( 243, 129,129,0.9));
} 
.team_pic:hover .team_pic_item{
	top:-10px;
	left: -10px;
}
.team_pic:hover .team_pic_gradient{
	display: block;
	top:-10px;
	left: -10px;
	opacity:1;
}
.team_pic_gradient_description {
	height: 100%;
	width: 100%;
	position: relative;
}
.team_pic_gradient_description_info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 0;
	display: flex;
}
.team_description_item {
	width: 56px;
	height: 56px;
	background-color: #fce38a;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color .4s ease-in-out;
}	
.team_description_item>svg>path {
	display: block;
	fill:rgb(243, 129, 129);
	transition: fill .4s ease-in-out;
}
.team_description_item:nth-child(1) svg{
	width: 13px;
	height: 26px;
}
.team_description_item:nth-child(2) svg{
	width: 26px;
	height: 22px;
}
.team_description_item:nth-child(3) svg{
	width: 21px;
	height: 26px;
}
.team_description_item:nth-child(4) svg{
	width: 26px;
	height: 26px;
}
.team_description_item:hover>svg>path {
	fill: #fff;
}
.team_description_item:hover {
	background-color: #f38181;
}
.team_info_people {
	width: 100%;
	display: inline-block;
	padding-bottom: 115px;
}
.team_pic_info {
	float: left;
	width: calc(33.33% - 20px);
	height: 100%;
	position: relative;
	margin-top: 30px;
	font-size: 12px;
	margin-right: 30px;	
	text-align: center;
}
.team_pic_info:nth-child(3) {
	margin-right: 0;
}
.team_pic_info>p:nth-child(1) {
	font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 10px;
}
.team_pic_info>p:nth-child(2) {
	 font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
}
.logos_wrapper {
	width: 100%;
	display: inline-block;
	background-color: #f8f8f8;
}
.logos {
	font-size: 0;
	margin:0 18.75% 0 18.75%;
}
.logos img {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}
.work {
	font-size: 0;
	margin:0 18.75% 0 18.75%;
}
.work_title {
	text-align: center;
	padding-top: 110px;
	padding-bottom: 90px;
}
.work_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.work_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.work_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}
.work_title>p:nth-child(4) {
	font-family: "Roboto";
	font-size: 15px;
	line-height: 24px;
	color: #999999;
}
.examples {
	font-size: 0;
	width: 100%;
}
.examples_left, .examples_right {
	width: 50%;
	display: inline-block;
}
.examples_left .examples_item {
	width: 50%;
	display: inline-block;
}
.examples_item>img {
	width: 100%
}
.examples_right_col1, .examples_right_col2 {
	display: inline-block;
	width: 50%;
}
.examples_right_col1 .examples_item {
	width: 100%;
}
.examples_item {
	float: left;
	height: 100%;
	position: relative;
	width: 100%;
}
.examples_item:hover .examples_gradient{
	opacity: 1;
}
.examples_gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: linear-gradient(0deg, rgba( 252, 227,138,0.9), rgba( 243, 129,129,0.9));
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
.examples_gradient_deskription {
	display: inline-block;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.examples_gradient_deskription>img {
	margin-bottom: 20px;
}
.examples_gradient_deskription>p:nth-child(2) {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 5px;
}
.examples_gradient_deskription>p:nth-child(3) {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}
.examples a {
	width: 100%;
	height: 100%;
	position: relative;
}
.testimonial .caorusel_item_img {
	border:none;
	margin-right: 30px;
}
.testimonial .caorusel_item_img img {
	padding:0;
	width: 100%;
}
.testimonial .caorusel_info {
	position: relative;
}
.reviews_wrapper {
	width: 100%;
	background-image: linear-gradient(0deg, rgba( 252, 252,252,0.85), rgba( 252, 252,252,0.85)), url(images/reviews.jpg);
	background-size: cover;
}
.reviews {
	margin:0px 18.75% 0px  18.75%;
	font-size: 0;
}
.reviews_title {
	text-align: center;
	padding-top: 110px;
}
.reviews_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.reviews_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.reviews_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 20px;
}
.reviews_info {
	display: inline-block;
	font-size: 0;
	padding-bottom: 125px;
}
.reviews_info_item {
	display: inline-block;
	width: 50%;
	margin-top: 65px;
}
.reviews_info_item_text {
	display: inline-block;
	width: calc(100% - 110px - 11.7%)
}
.reviews_info_item_text>p:nth-child(1) {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.reviews_info_item_text>p:nth-child(2) {
	font-size: 15px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  margin-top: 5px;
}
.reviews_info_item_text>p:nth-child(4) {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}
.reviews_info_item_img img{
	width: 110px;
	height: 110px;
	border-radius: 55px;
}
.reviews_info_item_img {
	float: left;
	display: inline-block;
	margin-right: 5%;
	margin-left: 6.66%;
}
.reviews_info_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	font-size: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}
.blog {
	margin:0px 18.75% 0px  18.75%;
	font-size: 0;
}
.blog_title {
	text-align: center;
	padding-top: 110px;
}
.blog_title > p:nth-child(1) {
	font-family: "Kaushan Script";
	font-size: 24px;
	color: #333333;
	margin-bottom: 25px;
	line-height: 24px;
}
.blog_title>p:nth-child(2) {
	font-weight: 700;
	font-family: "Montserrat";
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	line-height: 25px;
}
.blog_line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 40px;
	margin-bottom: 45px;
}
.blog_info {
	width: 100%;
	font-size: 0;
	display: inline-block;
	padding-bottom: 110px;
}
.blog_info_item {
	font-size: 0px;
	width: calc(33% - 20px);
	display: inline-block;
	margin-right: 30px;
	float: left;
	position: relative;
}
.blog_info_item_img {
	position: relative;
}
.blog_info_item_img img {
	width: 100%;
}
.blog_info_item:nth-child(3) {
	margin-right: 0;
}
.blog_item_date {
	position: absolute;
	bottom:10px;
	left: -10px;
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
}
.blog_item_date>p:nth-child(1) {
	font-size: 30px;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin-top:15px;
}
.blog_item_date>p:nth-child(2) {
	font-size: 15px;
	font-family: "Roboto";
	font-style: italic;
	color: #fff;
	margin-top:3px;
	text-align: center;
	margin-bottom:15px;
}
.blog_info_item_text {
	margin-top: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(229, 229, 229)
}
.blog_info_item_text>p:nth-child(1) {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 15px;
}
.blog_info_item_text>p:nth-child(2) {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}
.blog_other {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  padding-top: 20px;
}
.blog_other_item {
	display: inline-block;
	margin-right: 20px;
}
.blog_other_item img {
	margin-right: 5px;
}
.map_wrapper {
	width: 100%;
	background-image: linear-gradient(0deg, rgba( 252, 252,252,0.85), rgba( 252, 252,252,0.85)), url(images/map.jpg);
	background-size: cover;
}
.map_wrapper a{
	text-decoration: none;
}
.map {
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 57px 0 57px 0;
	font-size: 0px;
	text-decoration: none;
}
.map p {
	text-transform: uppercase;
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(243, 129, 129);
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  margin-top: 18px;
  text-decoration: none;
}
.map_line {
	width: 60px;
	height: 3px;
	background-color: rgb(243, 129, 129);
	margin-right: auto;
	margin-left: auto;
	font-size: 0;
	margin-top: 22px;
}
.contact_wrapper {
	width: 100%;
	background-color: #f8f8f8;
}
.contact {
	font-size: 0;
	margin:70px 18.75% 0px  18.75%;
	display: inline-block;
	padding-bottom: 70px;
}
.subscribe {
	width: 40%;
	display: inline-block;
	float: left;
}
.subscribe_info p:nth-child(1) {
  font-size: 46px;
  font-family: "Montserrat";
  color: rgb(204, 204, 204);
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 35px;
}
.subscribe_info p:nth-child(2) {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  margin-bottom: 40px;
}
.subscribe_info p:nth-child(3) {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
.subscribe_info>p:nth-child(3)>span {
	font-size: 18px;
	font-weight: 700;
}
.subscribe_forma {
	width: 100%;
	font-size: 0;
}
.subscribe_forma_follow {
	padding-bottom: 35px;
}
.subscribe_forma_follow span {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
  padding-top: 10px;
  position: relative;
  top: 5px;
}
.subscribe_forma_follow ul {
	margin-left: 20px;
	display: inline-block;
	height: 100%;
}
.subscribe_forma_follow li {
	display: inline-block;
	margin-left: 6px;
  margin-right: 6px;
}
.subscribe_forma_follow a {
	width: 16px;
  height: 16px;
  display: block;
}
.subscribe_forma_follow a::after {
  background-image: url(images/icons.png);
  content: '';
  display: inline-block;
  vertical-align: middle;
}
.subscribe_forma_follow a::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.fb::after {
  width: 8px; height: 16px;
  background-position: 0 0;
}
.tw::after {
  width: 16px; height: 14px;
  background-position: -27px -1px;
}
.ig::after {
  width: 16px; height: 16px;
  background-position: -56px 0;
}
.pi::after {
  width: 13px; height: 16px;
  background-position: -88px 0;
}
.gg::after {
  width: 16px; height: 14px;
  background-position: -116px -1px;
}
.yt::after {
  width: 16px; height: 12px;
  background-position: -146px -2px;
}
.dr::after {
  width: 16px; height: 16px;
  background-position: -176px 0;
}
.tm::after {
  width: 10px; height: 16px;
  background-position: -209px 0;
}
.subscribe_forma form {
	width: 80%;
	height: 40px;
}
.forma_group {
	display: inline-block;
	height: 40px;
	width: 60%;
	font-size: 0;
}
.form_button {
	display: inline-block;
	width: 40%;
	height: 40px
}
.forma_group input {
	height: 40px;
	width: 100%;
	border:1px solid #e7e7e7;
	background-color: #f8f8f8;
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}
.form_button button {
	width: 100%;
	height: 40px;
	background-color:#95e1d3;
	border: none;
	cursor: pointer;
}
.form_button button p {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.instagram {
	display: inline-block;
	width: 22.5%;
}
.blogs {
	margin-left: 2.5%;
	width: calc(37.5% - 8.15%);
	margin-right: 5.6%;
	display: inline-block;
	float: left;
}
.blogs>p {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
}
.blogs_item {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.blogs_item_img {
	float: left;
	margin-right: 20px;
}
.blogs_item_img img {
	width: 100%;
}
.blogs_item_info>p:nth-child(1) {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}
.blogs_item_info>p:nth-child(2) {
  font-size: 13px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.846;
  text-align: left;
}
.instagram_items {
	width: 100%;
	margin-top: 30px;
}
.instagram_item {
	margin-right: 2px;
	width: calc(33.33% - 2px);
	display: inline-block;
	margin-bottom: 2px;
}
.instagram_item img {
	width: 100%;
}
.instagram>p:nth-child(1) {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
}
.instagram a p {
	font-size: 13px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  font-style: italic;
  line-height: 1.846;
  text-align: left;
  margin-top: 20px;
}
.instagram a {
	text-decoration: none;
}
.footer {
	background-color: #f8f8f8;
	width: 100%;
}
.footer footer {
	margin: 0px 18.75% 0px  18.75%;
	border-top: 1px solid #e7e7e7;
	height: 70px
}
.footer p {
	font-size: 14px;
	line-height: 70px;
	text-align: center;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
}
.footer p span {
	color: #f38181;
}
.header_nav button {
	height: 30px;
	width: 40px;
	border: none;
	background-color: transparent;
	display: inline-block;
	margin-top: 25px;
	float: left;
	display: none;
}
.header_nav button span {
	margin-top: 5px;
	height: 5px;
	display:block;
	border-radius: 5px;
	background-color: #fff;
	width: 100%;
}
#up {
	position: fixed;
	background-color: transparent;
	width: 20px;
	height: 20px;
	bottom: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border-right: 5px solid #f38181;
	border-top: 5px solid #f38181;
	transition: transform .2s ease-in;
	transform: translate(0, 80px);
	z-index: 100;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}
#up.active {
	transform: rotate(-45deg);

}